{## Start with  defaults from defaults.yaml ##}
{% import_yaml "tftpd/defaults.yaml" as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
      'package': 'tftpd-hpa',
      'service': 'tftpd-hpa',
      'config_file': '/etc/default/tftpd-hpa',
      'config_template': 'salt://tftpd/templates/debian-config.jinja',
    }
  }
  , grain="os_family"
  , merge=salt['pillar.get']('tftpd:lookup'))
%}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.tftpd.update(os_family_map) %}

{## Merge in tftpd pillar (not lookup) ##}
{% set tftpd = salt['pillar.get'](
    'tftpd',
    default=default_settings.tftpd,
    merge=True
  )
%}
